numpy==1.20.3
keras==2.9.0
requests==2.28.1
streamlit==1.16.0
toml==0.10.2
tomli==2.0.1
tensorflow==2.9.0
pandas==1.5.2
Pillow==9.4.0
imutils==0.5.4
Jinja2==3.1.2
jsonschema==4.17.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
fastapi==0.95.0
Flask==1.1.2
nest_asyncio==1.5.6
